body{
  background: url("../../img/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.stats{
  background-color: hsla(0, 5%, 89%, 0.76) ;
}